In [1]:
import pandas as pd

# Read a space-delimited .dat file
file_path = 'D:/7995/HW-3/quebec.dat'  # Replace with your file path
df = pd.read_csv(file_path, delim_whitespace=True)

<ipython-input-1-7a2cfa56622d>:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(file_path, delim_whitespace=True)

In [2]:
df.head(3)

,sector,hdd,choice,conv_year,house_type,constr_year,nb_rooms,nb_pers,own_rent,surface,...,cost_inc9,avail1,avail2,avail3,avail4,avail5,avail6,avail7,avail8,avail9
0,1,5.530,3,5,2,4,8,2,1,0.80,...,1.196595,0,0,1,1,1,1,1,1,1
1,4,4.359,3,7,2,3,7,4,1,1.75,...,5.128263,0,0,1,1,1,1,1,1,1
2,4,4.359,3,5,2,3,6,2,1,1.25,...,3.047926,0,0,1,1,1,1,1,1,1

In [3]:
import numpy as np
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio

In [4]:
from biogeme import models
from biogeme.expressions import Beta

In [5]:
database = db.Database('quebec', df)

In [6]:
globals().update(database.variables)

In [7]:
list(df.columns)

['sector',
 'hdd',
 'choice',
 'conv_year',
 'house_type',
 'constr_year',
 'nb_rooms',
 'nb_pers',
 'own_rent',
 'surface',
 'age',
 'income',
 'op_cost1',
 'op_cost2',
 'op_cost3',
 'op_cost4',
 'op_cost5',
 'op_cost6',
 'op_cost7',
 'op_cost8',
 'op_cost9',
 'fix_cost1',
 'fix_cost2',
 'fix_cost3',
 'fix_cost4',
 'fix_cost5',
 'fix_cost6',
 'fix_cost7',
 'fix_cost8',
 'fix_cost9',
 'cost_inc1',
 'cost_inc2',
 'cost_inc3',
 'cost_inc4',
 'cost_inc5',
 'cost_inc6',
 'cost_inc7',
 'cost_inc8',
 'cost_inc9',
 'avail1',
 'avail2',
 'avail3',
 'avail4',
 'avail5',
 'avail6',
 'avail7',
 'avail8',
 'avail9']