In [1]:
import pandas as pd

# Load the dataset
file_path = 'D:/Flood_Project/Survey_dataset/Survey Formatted/final_research.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
df.head()

C:\Users\hq8312\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

,Unnamed: 0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,...,Age_res,Gender_res,emplymnt_res,Eductn_res,Disability_res,nature_disblty,contc_purpose,N)_chld_inhhl,No_Vhcl_hhl,No_workingppl_hhl
0,0,8/16/2024 14:23,8/16/2024 14:28,IP Address,12.237.206.12,100,303,True,8/16/2024 14:28,R_1czUTxV9JmO5XCM,...,25-34,Female,Employed,Not a student,No,NaN,"For any questions about this survey.,For a fol...",0,2,2
1,1,8/16/2024 14:30,8/16/2024 14:42,IP Address,99.116.2.69,100,711,True,8/16/2024 14:42,R_3kNeChfe089GDYT,...,45 to 54,Male,Employed,Not a student,No,NaN,To receive a gift card from Amazon,0,1,1
2,2,8/16/2024 16:10,8/16/2024 16:23,IP Address,73.145.247.127,100,792,True,8/16/2024 16:23,R_7ND3T0WjAc9V1V1,...,25-34,Male,Employed,Not a student,"Yes, and I am comfortable sharing more about it",NaN,For any questions about this survey.,0,0,1
3,3,8/17/2024 8:36,8/17/2024 8:43,IP Address,216.24.177.23,100,424,True,8/17/2024 8:43,R_5JDl0vxqtFjRFks,...,35 to 44,Male,Employed,Not a student,No,NaN,"For any questions about this survey.,For a fol...",1,1,2
4,4,8/17/2024 11:31,8/17/2024 11:41,IP Address,73.145.108.93,100,587,True,8/17/2024 11:41,R_6gqCazRjjYi2GBz,...,25-34,Male,Employed,Not a student,No,NaN,To receive a gift card from Amazon,1,1,0

In [2]:
# Clean up non-numeric values in the relevant columns, treating them as NaN if they cannot be converted
df['No_Vhcl_hhl'] = pd.to_numeric(df['No_Vhcl_hhl'], errors='coerce')
df['No_workingppl_hhl'] = pd.to_numeric(df['No_workingppl_hhl'], errors='coerce')

# Now re-apply the function to create the new column after cleaning up the data
def classify_vehicle_availability(row):
    vehicles = row['No_Vhcl_hhl']
    workers = row['No_workingppl_hhl']
    
    if pd.isna(vehicles) or pd.isna(workers):
        return 'Unknown'
    
    if vehicles == 0:
        return '0 Autos'
    elif 0 < vehicles < workers:
        return 'Autos > 0 & < Workers'
    elif vehicles >= workers:
        return 'Autos â‰¥ Workers'
    else:
        return 'Unknown'

# Apply the function again
df['Vehicle_Availability'] = df.apply(classify_vehicle_availability, axis=1)

In [3]:
df['Vehicle_Availability']

0            Autos â‰¥ Workers
1            Autos â‰¥ Workers
2                    0 Autos
3      Autos > 0 & < Workers
4            Autos â‰¥ Workers
               ...
899    Autos > 0 & < Workers
900    Autos > 0 & < Workers
901          Autos â‰¥ Workers
902    Autos > 0 & < Workers
903    Autos > 0 & < Workers
Name: Vehicle_Availability, Length: 904, dtype: object

In [6]:
# Export the updated dataset to a CSV file
output_file_path = 'D:/Flood_Project/Survey_dataset/Survey Formatted/more_final_research.csv'
df.to_csv(output_file_path, index=False)