In [1]:
# !pip install requests

In [2]:
import os
os.chdir("D:/Flood_Project/Model_running/Nayeem")

In [3]:
import requests
import json

In [14]:
import requests

url = "https://outagemap.serv.dteenergy.com/arcgis/rest/services/OMP/OutageLocations/MapServer"
try:
    response = requests.get(url)
    response.raise_for_status()
    print("Server is reachable!")
except requests.exceptions.RequestException as e:
    print(f"Error: {e}")

Server is reachable!

In [15]:
import requests
import json

# Base URL for the ArcGIS REST API endpoint
BASE_URL = "https://outagemap.serv.dteenergy.com/arcgis/rest/services/OMP/OutageLocations/MapServer"

# Parameters for the initial query
params = {
    'where': '1=1',                # Select all features
    'outFields': '*',              # Include all attributes
    'f': 'json',                   # Output format as JSON
    'resultOffset': 0,             # Pagination offset
    'resultRecordCount': 1000      # Number of records per batch
}

# List to hold all features
all_features = []

try:
    while True:
        # Make the API request
        response = requests.get(BASE_URL, params=params)
        response.raise_for_status()  # Raise an error for bad status codes

        # Parse the JSON response
        data = response.json()

        # Debug: Check if an error exists in the response
        if 'error' in data:
            raise Exception(f"API Error: {data['error']}")

        # Extract features
        features = data.get('features', [])
        if not features:
            break  # Stop if there are no more features to fetch

        # Append features to the list
        all_features.extend(features)
        print(f"Fetched {len(features)} records, total: {len(all_features)}")

        # Update resultOffset for the next batch
        params['resultOffset'] += params['resultRecordCount']

    # Save all features to a JSON file
    with open("outage_data.json", "w") as outfile:
        json.dump(all_features, outfile, indent=4)

    print("All data has been successfully downloaded and saved to 'outage_data.json'.")

except Exception as e:
    print(f"An error occurred: {e}")

All data has been successfully downloaded and saved to 'outage_data.json'.

In [16]:
import geopandas as gpd

# Load the GeoJSON file directly into a GeoDataFrame
file_path = "outage_data.geojson"
gdf = gpd.read_file(file_path)

In [17]:
gdf

,OBJECTID,JOB_ID,ADD_DTTM,TYCOD,NUM_CUST,NUM_CUST_RESTORED,TOAL_CUST_AFFECTED,OFF_DTTM,EST_REP_DTTM,CAUSE,...,DISPATCH_DTTM,CREW_STATUS,EST_REP_ENDDTTM,CIRCUIT_EST_DTTM,CIRCUIT_EST_ENDDTTM,STORM_MODE,SERVICE_CENTER,SHAPE_Length,SHAPE_Area,geometry
0,1,NE24041205141,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,None,NaN,None,None,None,None,28953.209417,4.486656e+07,"POLYGON ((-83.44351 43.12258, -83.36705 43.158..."
1,2,NE24041301808,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,None,NaN,None,None,None,None,7562.403291,1.238936e+06,"POLYGON ((-83.40849 43.15804, -83.38770 43.160..."
2,3,NE24041900682,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,None,NaN,None,None,None,None,5330.995881,1.463633e+06,"POLYGON ((-82.93677 42.56920, -82.92672 42.569..."
3,4,NE24050701633,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,None,NaN,None,None,None,None,9371.540947,6.292241e+06,"POLYGON ((-82.85073 42.57316, -82.83770 42.574..."
4,5,NE24062005389,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,None,NaN,None,None,None,None,5534.862644,1.919296e+06,"POLYGON ((-82.76884 42.66202, -82.76588 42.664..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,SE24112400289,1.732496e+12,OUTAGE,1.0,0.0,1.0,1.732495e+12,1.732582e+12,Determined upon crew arrival,...,None,None,1.732582e+12,None,None,NORMAL,RFD,515.293940,2.002966e+04,"POLYGON ((-83.29583 42.35203, -83.29562 42.351..."
78,79,SW24050101020,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,None,NaN,None,None,None,None,514.498085,1.996784e+04,"POLYGON ((-83.42057 42.25508, -83.42036 42.254..."
79,80,SW24112400268,1.732496e+12,PRIORITY,1.0,0.0,1.0,1.732489e+12,1.732502e+12,Determined upon crew arrival,...,None,None,1.732502e+12,None,None,NORMAL,WWS,514.699222,1.998346e+04,"POLYGON ((-83.39627 42.27962, -83.39606 42.279..."
80,81,SW24112400274,1.732496e+12,OUTAGE,1.0,0.0,1.0,1.732491e+12,1.732577e+12,Determined upon crew arrival,...,None,None,1.732577e+12,None,None,NORMAL,WWS,516.645920,2.013491e+04,"POLYGON ((-83.40396 42.51606, -83.40375 42.515..."
81,82,SW24112400290,1.732496e+12,OUTAGE,1.0,0.0,1.0,1.732495e+12,1.732582e+12,Determined upon crew arrival,...,None,None,1.732582e+12,None,None,NORMAL,ANN,514.379007,1.995860e+04,"POLYGON ((-83.67607 42.24055, -83.67585 42.240..."

In [18]:
import pandas as pd

# Assuming df is your DataFrame
# Calculate the number of missing values for each column
missing_values = gdf.isnull().sum()

# Calculate the percentage of missing values for each column
missing_percentage = (gdf.isnull().sum() / len(gdf)) * 100

# Combine into a single DataFrame for better visualization
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# Display the result
print(missing_summary)

                     Missing Values  Missing Percentage
DEV_TYPE                         82          100.000000
DEV_NAME                         82          100.000000
CIRCUIT_EST_ENDDTTM              82          100.000000
CIRCUIT_EST_DTTM                 82          100.000000
CREW_STATUS                      82          100.000000
DISPATCH_DTTM                    82          100.000000
DEV_ID                           82          100.000000
DEV_TYPE_NAME                    60           73.170732
OFF_DTTM                         57           69.512195
EST_REP_DTTM                     57           69.512195
CAUSE                            57           69.512195
TOAL_CUST_AFFECTED               57           69.512195
EVENT_STATUS                     57           69.512195
NUM_CUST_RESTORED                57           69.512195
NUM_CUST                         57           69.512195
EST_REP_ENDDTTM                  57           69.512195
TYCOD                            57           69.512195
ADD_DTTM                         57           69.512195
STORM_MODE                       57           69.512195
SERVICE_CENTER                   57           69.512195
SHAPE_Length                      0            0.000000
SHAPE_Area                        0            0.000000
OBJECTID                          0            0.000000
JOB_ID                            0            0.000000
geometry                          0            0.000000

In [10]:
import pandas as pd
import json

# File path to the JSON file
file_path = "outage_data.geojson"

# Read the JSON file
with open(file_path, "r") as infile:
    geojson_data = json.load(infile)

# Extract features from the GeoJSON
features = geojson_data.get("features", [])

# Create a function to handle missing or nested data
def extract_properties(feature):
    properties = feature.get("properties", {})
    geometry = feature.get("geometry", {})
    # Extract properties and geometry details
    row = {**properties}
    row["geometry_type"] = geometry.get("type")
    row["coordinates"] = geometry.get("coordinates")
    return row

# Apply the function to all features
data = [extract_properties(feature) for feature in features]

# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(data)

In [11]:
df.head(5)

,OBJECTID,JOB_ID,ADD_DTTM,TYCOD,NUM_CUST,NUM_CUST_RESTORED,TOAL_CUST_AFFECTED,OFF_DTTM,EST_REP_DTTM,CAUSE,...,CREW_STATUS,EST_REP_ENDDTTM,CIRCUIT_EST_DTTM,CIRCUIT_EST_ENDDTTM,STORM_MODE,SERVICE_CENTER,SHAPE_Length,SHAPE_Area,geometry_type,coordinates
0,1,NE24041205141,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,NaN,None,None,None,None,28953.209417,4.486656e+07,Polygon,"[[[-83.44351017603897, 43.12258437513694], [-8..."
1,2,NE24041301808,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,NaN,None,None,None,None,7562.403291,1.238936e+06,Polygon,"[[[-83.40848884444448, 43.15804303079147], [-8..."
2,3,NE24041900682,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,NaN,None,None,None,None,5330.995881,1.463633e+06,Polygon,"[[[-82.93676517569794, 42.56920148369757], [-8..."
3,4,NE24050701633,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,NaN,None,None,None,None,9371.540947,6.292241e+06,Polygon,"[[[-82.85073265765685, 42.57316405121742], [-8..."
4,5,NE24062005389,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,None,NaN,None,None,None,None,5534.862644,1.919296e+06,Polygon,"[[[-82.76884370420368, 42.66202157971307], [-8..."